/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

html {

   scroll-behavior: smooth;

}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}

body {
    padding-bottom: 80px;
}

.dark-mode {
    background-color: #121212;
    color: #223d88e3;
  }
  
  .dark-mode header,
  .dark-mode footer {
    background-color: #1f1f1f;
  }
  
  .dark-mode a {
    color: #90caf9;
  }
  
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
   transition-delay: 0.3s;
}
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
   
  #filterButtons {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #filterButtons button {
    margin: 5px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .project-item {
    display: block;
    margin-bottom: 20px;
  }
  
  .dark-mode .project-item {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
  }
  
  .project-item {
    background-color: #f9f9f9;
    color: #000000;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .project-item {
    background-color: #1f1f1f;
    color: #ffffff ;
    border: 1px solid #444;
  }
  
 